html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

img {
    width: 50px;
    height: 50px;
}

h3 {
    text-align: center;
}

a :hover{
    color :red;
}


#login img {
    margin: 10px 0;
}

#login .center {
    text-align: center;
}

#login .login {
    max-width: 300px;
    margin: 35px auto;
}

#login .login-form {
    padding: 0px 25px;
}